In [1]:
from google.colab import files
import pandas as pd

file = files.upload()
data = pd.read_csv('melb_data.csv')

Saving melb_data.csv to melb_data.csv

In [2]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

**Cek Missing Values**

In [6]:
print(data.isnull().sum())
data.isnull().mean() * 100

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price             0.000000
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.000000
Postcode          0.000000
Bedroom2          0.000000
Bathroom          0.000000
Car               0.456554
Landsize          0.000000
BuildingArea     47.496318
YearBuilt        39.580265
CouncilArea      10.081001
Lattitude         0.000000
Longtitude        0.000000
Regionname        0.000000
Propertycount     0.000000
dtype: float64

**Building Area,YearBuilt**

In [8]:
data[["BuildingArea","YearBuilt"]].head()

   BuildingArea  YearBuilt
0           NaN        NaN
1          79.0     1900.0
2         150.0     1900.0
3           NaN        NaN
4         142.0     2014.0

In [10]:
data[["BuildingArea","YearBuilt"]].dtypes

BuildingArea    float64
YearBuilt       float64
dtype: object

**Handle Missing Values**

In [13]:
data = data.drop(columns=["Car","CouncilArea"])

In [15]:
from sklearn.model_selection import train_test_split

y = data.Price
X = data.drop("Price",axis=1)

TrainX,ValX,TrainY,ValY= train_test_split(X,y,
                                          test_size=0.2,
                                          random_state=42)

In [17]:
TrainX["BuildingArea_missing"] = TrainX["BuildingArea"].isna().astype(int)
ValX["BuildingArea_missing"]   = ValX["BuildingArea"].isna().astype(int)

In [19]:
TrainX["YearBuilt_missing"] = TrainX["YearBuilt"].isna().astype(int)
ValX["YearBuilt_missing"]   = ValX["YearBuilt"].isna().astype(int)

In [18]:
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer(strategy="median")

TrainX[["BuildingArea","YearBuilt"]] = my_imputer.fit_transform(
    TrainX[["BuildingArea","YearBuilt"]]
)

ValX[["BuildingArea","YearBuilt"]] = my_imputer.transform(
    ValX[["BuildingArea","YearBuilt"]]
)

In [20]:
TrainX[["BuildingArea", "YearBuilt"]].isna().sum()

BuildingArea    0
YearBuilt       0
dtype: int64

In [21]:
ValX[["BuildingArea", "YearBuilt"]].isna().sum()

BuildingArea    0
YearBuilt       0
dtype: int64