In [350]:
import pandas as pd
from google.colab import files

df = files.upload()
data = pd.read_csv('covid_19_indonesia.csv')

Saving covid_19_indonesia.csv to covid_19_indonesia (12).csv

**Exploratory Data Analysis (EDA)**

In [351]:
data.describe()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,City or Regency,Total Regencies,...,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Growth Factor of New Cases,Growth Factor of New Deaths
count,31822.000000,31822.000000,31822.000000,31822.000000,3.182200e+04,31822.000000,3.182200e+04,31822.000000,0.0,31822.000000,...,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,31822.000000,29883.000000,28375.000000
mean,402.311388,9.920652,390.398498,1.992238,1.594500e+05,4564.753221,1.492615e+05,5623.782415,NaN,24.027277,...,738.894928,113.700478,-2.725681,28.133292,11485.038800,0.640308,289.633640,28.963329,1.326795,1.033834
std,2320.629838,64.139080,2199.878802,1219.513355,6.264435e+05,17693.731369,5.958536e+05,28537.412305,NaN,68.359734,...,2729.431626,9.862068,3.608065,74.309710,16477.385479,1.933016,363.428724,36.342881,2.679379,1.351755
min,0.000000,0.000000,0.000000,-29938.000000,1.000000e+00,0.000000,0.000000e+00,-2343.000000,NaN,1.000000,...,8.590000,96.910522,-8.682205,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,2.000000,-12.000000,5.223250e+03,128.000000,3.913500e+03,80.000000,NaN,7.000000,...,47.790000,106.109004,-6.204699,0.830000,1291.367500,0.000000,38.862500,3.890000,0.650000,0.750000
50%,27.000000,0.000000,20.000000,0.000000,2.359650e+04,565.500000,2.102750e+04,557.000000,NaN,11.000000,...,103.840000,113.417654,-2.461746,5.710000,6804.285000,0.000000,158.415000,15.840000,1.000000,1.000000
75%,130.000000,3.000000,123.000000,19.000000,6.992775e+04,2189.000000,6.414200e+04,2279.000000,NaN,18.000000,...,262.700000,121.201093,0.212037,22.290000,14557.360000,0.540000,389.910000,38.990000,1.310000,1.000000
max,64718.000000,2069.000000,61361.000000,39165.000000,6.405044e+06,157876.000000,6.218708e+06,586113.000000,NaN,416.000000,...,16334.310000,138.696030,4.225615,1459.040000,130231.620000,63.800000,1632.600000,163.260000,175.000000,134.500000

In [352]:
data.head(10)

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,...,-6.204699,0.18,3.60,0.00,1.84,0.18,51.28%,192.31%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,...,-6.204699,0.18,3.78,0.00,1.84,0.18,48.78%,182.93%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.00,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,1,0,1,...,0.511648,0.16,0.16,0.00,0.00,0.00,0.00%,100.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,...,-6.204699,0.18,3.96,0.00,1.84,0.18,46.51%,174.42%,1.0,1.0
5,3/3/2020,IDN,Indonesia,0,0,0,0,2,0,0,...,-0.789275,0.00,0.01,0.00,0.00,0.00,0.00%,0.00%,0.0,1.0
6,3/3/2020,ID-JB,Jawa Barat,1,1,0,0,1,1,60,...,-6.920432,0.02,0.02,0.02,0.02,0.00,100.00%,6000.00%,NaN,NaN
7,3/3/2020,ID-RI,Riau,0,0,0,0,1,0,1,...,0.511648,0.00,0.16,0.00,0.00,0.00,0.00%,100.00%,0.0,1.0
8,3/4/2020,ID-JK,DKI Jakarta,2,0,0,2,45,20,75,...,-6.204699,0.18,4.15,0.00,1.84,0.18,44.44%,166.67%,1.0,1.0
9,3/4/2020,IDN,Indonesia,0,0,0,0,2,0,0,...,-0.789275,0.00,0.01,0.00,0.00,0.00,0.00%,0.00%,1.0,1.0

In [353]:
data.columns

Index(['Date', 'Location ISO Code', 'Location', 'New Cases', 'New Deaths',
       'New Recovered', 'New Active Cases', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Total Active Cases', 'Location Level',
       'City or Regency', 'Province', 'Country', 'Continent', 'Island',
       'Time Zone', 'Special Status', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths'],
      dtype='object')

In [354]:
data.shape

(31822, 38)

**Data Cleaning**

*Handle Missing Values*

In [355]:
null = data.isnull().sum()
print(null)

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                31822
Province                         929
Country                            0
Continent                          0
Island                           929
Time Zone                        929
Special Status                 27264
Total Regencies                    0
Total Cities                     901
Total Districts                    0
Total Urban Villages             904
Total Rural Villages             929
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Total Deaths per 100rb             0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases      1939
Growth Factor of New Deaths     3447
dtype: int64

In [356]:
data = data.drop(['City or Regency', 'Special Status'], axis=1)

City or Regency column has a missing values in all rows of data and Special Status has a second most missing values and also has uninformative values

The Island, Time Zone, and Province columns have the same number of missing values ​​due to an anomalous value in the Location column, namely 'Indonesia', which should not be in the Location column

In [357]:
data = data[data['Location'] != 'Indonesia'].reset_index(drop=True)

In [358]:
CountMissingValuesRn = data.isnull().sum()
CountAllRows = data.shape

print(CountMissingValuesRn)
print("CountAllRows:", CountAllRows)

Date                              0
Location ISO Code                 0
Location                          0
New Cases                         0
New Deaths                        0
New Recovered                     0
New Active Cases                  0
Total Cases                       0
Total Deaths                      0
Total Recovered                   0
Total Active Cases                0
Location Level                    0
Province                          0
Country                           0
Continent                         0
Island                            0
Time Zone                         0
Total Regencies                   0
Total Cities                    901
Total Districts                   0
Total Urban Villages            904
Total Rural Villages            929
Area (km2)                        0
Population                        0
Population Density                0
Longitude                         0
Latitude                          0
New Cases per Million             0
Total Cases per Million           0
New Deaths per Million            0
Total Deaths per Million          0
Total Deaths per 100rb            0
Case Fatality Rate                0
Case Recovered Rate               0
Growth Factor of New Cases     1935
Growth Factor of New Deaths    3442
dtype: int64
CountAllRows: (30893, 36)

In [359]:
ColTotal = ['Total Urban Villages',
            'Total Rural Villages',
            'Total Cities']

for col in ColTotal:
  data[col] = data.groupby('Location')[col].transform(lambda y: y.fillna(y.max()))

In [360]:
NewCasesMedian = data['Growth Factor of New Cases'].median()
data['Growth Factor of New Cases'] = data['Growth Factor of New Cases'].fillna(NewCasesMedian)

In [361]:
NewDeathsMedian = data['Growth Factor of New Deaths'].median()
data['Growth Factor of New Deaths'] = data['Growth Factor of New Deaths'].fillna(NewDeathsMedian)

In [362]:
data.isnull().sum()

Date                             0
Location ISO Code                0
Location                         0
New Cases                        0
New Deaths                       0
New Recovered                    0
New Active Cases                 0
Total Cases                      0
Total Deaths                     0
Total Recovered                  0
Total Active Cases               0
Location Level                   0
Province                         0
Country                          0
Continent                        0
Island                           0
Time Zone                        0
Total Regencies                  0
Total Cities                   901
Total Districts                  0
Total Urban Villages           904
Total Rural Villages           929
Area (km2)                       0
Population                       0
Population Density               0
Longitude                        0
Latitude                         0
New Cases per Million            0
Total Cases per Million          0
New Deaths per Million           0
Total Deaths per Million         0
Total Deaths per 100rb           0
Case Fatality Rate               0
Case Recovered Rate              0
Growth Factor of New Cases       0
Growth Factor of New Deaths      0
dtype: int64

In [363]:
print(data[data['Total Cities'].isnull()]['Location'].unique())

['Sulawesi Barat']

In [364]:
data.loc[data['Location'] == 'Sulawesi Barat', 'Total Cities'] = 0

In [365]:
print(data[data['Total Urban Villages'].isnull()]['Location'].unique())

['Aceh']

In [366]:
data.loc[data['Location'] == 'Aceh', 'Total Urban Villages'] = 0

In [367]:
print(data[data['Total Rural Villages'].isnull()]['Location'].unique())

['DKI Jakarta']

In [368]:
data.loc[data['Location'] == 'DKI Jakarta', 'Total Rural Villages'] = 0

In [369]:
data.isnull().sum()

Date                           0
Location ISO Code              0
Location                       0
New Cases                      0
New Deaths                     0
New Recovered                  0
New Active Cases               0
Total Cases                    0
Total Deaths                   0
Total Recovered                0
Total Active Cases             0
Location Level                 0
Province                       0
Country                        0
Continent                      0
Island                         0
Time Zone                      0
Total Regencies                0
Total Cities                   0
Total Districts                0
Total Urban Villages           0
Total Rural Villages           0
Area (km2)                     0
Population                     0
Population Density             0
Longitude                      0
Latitude                       0
New Cases per Million          0
Total Cases per Million        0
New Deaths per Million         0
Total Deaths per Million       0
Total Deaths per 100rb         0
Case Fatality Rate             0
Case Recovered Rate            0
Growth Factor of New Cases     0
Growth Factor of New Deaths    0
dtype: int64

*remove column that will cz data leakage*

In [370]:
data = data.drop('Location ISO Code', axis=1)

In [371]:
data.columns

Index(['Date', 'Location', 'New Cases', 'New Deaths', 'New Recovered',
       'New Active Cases', 'Total Cases', 'Total Deaths', 'Total Recovered',
       'Total Active Cases', 'Location Level', 'Province', 'Country',
       'Continent', 'Island', 'Time Zone', 'Total Regencies', 'Total Cities',
       'Total Districts', 'Total Urban Villages', 'Total Rural Villages',
       'Area (km2)', 'Population', 'Population Density', 'Longitude',
       'Latitude', 'New Cases per Million', 'Total Cases per Million',
       'New Deaths per Million', 'Total Deaths per Million',
       'Total Deaths per 100rb', 'Case Fatality Rate', 'Case Recovered Rate',
       'Growth Factor of New Cases', 'Growth Factor of New Deaths'],
      dtype='object')

*handle data type*

In [372]:
data.dtypes

Date                            object
Location                        object
New Cases                        int64
New Deaths                       int64
New Recovered                    int64
New Active Cases                 int64
Total Cases                      int64
Total Deaths                     int64
Total Recovered                  int64
Total Active Cases               int64
Location Level                  object
Province                        object
Country                         object
Continent                       object
Island                          object
Time Zone                       object
Total Regencies                  int64
Total Cities                   float64
Total Districts                  int64
Total Urban Villages           float64
Total Rural Villages           float64
Area (km2)                       int64
Population                       int64
Population Density             float64
Longitude                      float64
Latitude                       float64
New Cases per Million          float64
Total Cases per Million        float64
New Deaths per Million         float64
Total Deaths per Million       float64
Total Deaths per 100rb         float64
Case Fatality Rate              object
Case Recovered Rate             object
Growth Factor of New Cases     float64
Growth Factor of New Deaths    float64
dtype: object

The data column must be changed to datetime, the Case Fatality Rate and Case Recovered Rate columns must be changed to float and the percentage signs removed, and the Total Cities, Total Urban Villages, and Total Rural Villages columns must be changed to integer

In [373]:
data['Date'] = pd.to_datetime(data['Date'])

In [374]:
data['Case Fatality Rate'] = data['Case Fatality Rate'].str.replace('%', '').astype(float)
data['Case Recovered Rate'] = data['Case Recovered Rate'].str.replace('%', '').astype(float)

In [375]:
ColumnTotal = ['Total Cities', 'Total Urban Villages',
               'Total Rural Villages']

for col in ColumnTotal:
  data[col] = data[col].astype(int)

In [376]:
print(data.dtypes)

Date                           datetime64[ns]
Location                               object
New Cases                               int64
New Deaths                              int64
New Recovered                           int64
New Active Cases                        int64
Total Cases                             int64
Total Deaths                            int64
Total Recovered                         int64
Total Active Cases                      int64
Location Level                         object
Province                               object
Country                                object
Continent                              object
Island                                 object
Time Zone                              object
Total Regencies                         int64
Total Cities                            int64
Total Districts                         int64
Total Urban Villages                    int64
Total Rural Villages                    int64
Area (km2)                              int64
Population                              int64
Population Density                    float64
Longitude                             float64
Latitude                              float64
New Cases per Million                 float64
Total Cases per Million               float64
New Deaths per Million                float64
Total Deaths per Million              float64
Total Deaths per 100rb                float64
Case Fatality Rate                    float64
Case Recovered Rate                   float64
Growth Factor of New Cases            float64
Growth Factor of New Deaths           float64
dtype: object

*Handle Object Column & Encode*

In [377]:
data.select_dtypes(include=['object']).columns

Index(['Location', 'Location Level', 'Province', 'Country', 'Continent',
       'Island', 'Time Zone'],
      dtype='object')

In [378]:
data['Time Zone'].value_counts()

Time Zone
UTC+07:00    16413
UTC+08:00    10854
UTC+09:00     3626
Name: count, dtype: int64

In [379]:
data['Time Zone'] = data['Time Zone'].str.strip()

In [381]:
timezone_map = {
    'UTC+07:00': 0,
    'UTC+08:00': 1,
    'UTC+09:00': 2
}


data['Time Zone'] = data['Time Zone'].map(timezone_map)

In [382]:
data['Time Zone'] = data['Time Zone'].astype(int)

In [380]:
data['Location'].value_counts()

Location
DKI Jakarta                   929
Riau                          928
Jawa Barat                    927
Banten                        924
Jawa Tengah                   922
Sulawesi Tenggara             920
Bali                          919
Kalimantan Timur              916
Daerah Istimewa Yogyakarta    914
Sumatera Utara                913
Jawa Timur                    912
Kepulauan Riau                911
Sulawesi Selatan              911
Jambi                         910
Maluku                        908
Papua                         908
Maluku Utara                  907
Sumatera Selatan              907
Aceh                          904
Kalimantan Tengah             904
Lampung                       904
Sulawesi Tengah               904
Sulawesi Utara                904
Sumatera Barat                904
Papua Barat                   903
Kalimantan Utara              902
Sulawesi Barat                901
Kalimantan Barat              901
Kalimantan Selatan            900
Kepulauan Bangka Belitung     900
Bengkulu                      899
Nusa Tenggara Barat           899
Nusa Tenggara Timur           890
Gorontalo                     888
Name: count, dtype: int64